@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundGreen: rgb(76, 252, 15, 1);
  --backgroundBlack: rgb(0, 0, 0, 1);
  --backgroundLightBlack: rgb(37, 37, 37);
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: "Poppins", serif;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1em !important;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.25em;
}

p {
  font-size: 16px;
}

li {
  font-size: 18px;
}

.bg_green {
  background: var(--backgroundGreen);
}

.bg_black {
  background: var(--backgroundBlack);
}

.bg_light_black {
  background: var(--backgroundLightBlack);
}

.txt_green {
  color: var(--backgroundGreen);
}

.border_green {
  border: 2px solid;
  border-color: var(--backgroundGreen);
}

.border_black {
  border: 2px solid;
  border-color: var(--backgroundBlack);
}

.fs_14 {
  font-size: 14px;
}

.box_shadow_light {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media (max-width:550px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

}

/* Header */
.navbar{
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
}
.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.header-ul li:hover a,
.header-ul .active a {
  color: #8BB603 !important;
}

/* Home Page */
.home_banner {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1000;
  height: 100vh;
  overflow-y: scroll;

}

.home_banner::-webkit-scrollbar {
  display: none;
}

.banner-text{
  z-index: 1000;
  padding-top: 400px;
  padding-bottom: 200px;  
}

.banner-background {
   /* position: fixed; */
   top: 0;
   width: 100%;
   height: 1000px;
   z-index: -1;

}

.banner-background img {
  width: 100%;
  height: 100%;
}

@media (max-width:1000px) {
  .home_banner {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .banner-text{
    padding-top: 200px;
  }
}

@media (max-width:550px) {
  .banner-text{
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.banner-btn:hover {
  background-color: var(--backgroundGreen);
}

.banner-btn:hover p {
  color: #000000;
}

.slick-prev {
  left: 10px !important;
  z-index: 1;
}

.slick-next {
  right: 20px !important;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #000000 !important;
  font-size: 30px !important;
  z-index: 1;
}

@media (min-width:1000px) {

  .visitor-left-content {
    background-color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    position: relative;
    width: 650px;
    left: 50px;
    top: 12%;
    padding: 30px 50px;
  }

}

.react-tel-input {
  width: 390px !important;
}
.react-tel-input .form-control {
  width: 390px !important;
  height: 45px !important;
  font-size: 18px !important;
  padding-left: 40px;
  color: #000 !important;
  border-radius: 0 !important;
}

.react-tel-input .country-list .country-name {
  color: #000 !important;
}

.search-btn:hover {
  background-color: var(--backgroundGreen);
}

@media (max-width:550px) {
  .react-tel-input .form-control {
    width: 100% !important;
    height: 35px !important;
    font-size: 14px !important;
  }
}

.dropdown-heading-value {
  color: #000 !important;
}

.dropdown-container {
  border: none !important;
}

.dropdown-content {
  color: #000 !important;
}

.sevice-underline {
  border: 2px solid var(--backgroundGreen);
}