@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "flowbite"; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --backgroundGreen: rgb(76, 252, 15, 1);
  --backgroundBlack: rgb(0, 0, 0, 1);
  --backgroundLightBlack: rgb(37, 37, 37);
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: "Poppins-extralight", "Poppins", serif;
}

h1 {
  font-size: 3em;
  font-family: "Poppins-extralight", "Poppins", serif;
}

h2 {
  font-size: 2.8em;
  line-height: 1.1em !important;
  font-family: "Poppins-extralight", "Poppins", serif;
}

h3 {
  font-size: 2em;
  line-height: 1.2em !important;
  font-family: "Poppins-extralight", "Poppins", serif;
}

h4 {
  font-size: 1.25em;
  font-family: "Poppins-extralight", "Poppins", serif;
}

h5 {
  font-size: 1.25em;
  font-family: "Poppins-extralight", "Poppins", serif;
}

p {
  font-size: 16px;
  font-family: "Poppins-extralight", "Poppins", serif;
}

li {
  font-size: 16px;
  font-family: "Poppins-extralight", "Poppins", serif;
}

@media (min-width: 1280px) and (max-width:1536px) {
  .container {
    max-width: 1100px;
  }
}

.bg_green {
  background: var(--backgroundGreen);
}

.bg_black {
  background: var(--backgroundBlack);
}

.bg_light_black {
  background: var(--backgroundLightBlack);
}

.text-black{
  color: #000000 !important;
}

.txt_green {
  color: var(--backgroundGreen);
}

.txt_light_green {
  color: #8BB603 !important;
}

.border_green {
  border: 2px solid;
  border-color: var(--backgroundGreen);
}

.border_black {
  border: 2px solid;
  border-color: var(--backgroundBlack);
}

.fs_14 {
  font-size: 14px;
}

.fs_20 {
  font-size: 20px;
}

.box_shadow_light {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media(min-width:1024px) and (max-width:1300px) {
  .mar-left {
    margin-left: 15px !important;
  }
}

@media (max-width:550px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 14px;
  }

}

/* Header */
.navbar {
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
}

.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.header-ul li:hover a,
.header-ul .active a {
  color: #8BB603 !important;
}

@media (max-width:1250px) {
  .header-card {
    display: none !important;
  }
}

/* Home Page */
.home_banner {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1000;
  height: 100vh;
  overflow-y: scroll;

}

.home_banner::-webkit-scrollbar {
  display: none;
}

.banner-text {
  z-index: 1000;
  padding-top: 400px;
  padding-bottom: 200px;
}

.banner-background {
  /* position: fixed; */
  top: 0;
  width: 100%;
  height: 1000px;
  z-index: -1;

}

.banner-background img {
  width: 100%;
  height: 100%;
}

@media (max-width:1000px) {
  .home_banner {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .banner-text {
    padding-top: 200px;
  }
}

@media (max-width:550px) {
  .banner-text {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.banner-btn:hover {
  background-color: var(--backgroundGreen);
}

.banner-btn:hover p {
  color: #000000;
}

.slick-prev {
  left: 10px !important;
  z-index: 1;
}

.slick-next {
  right: 20px !important;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: #000000 !important;
  font-size: 30px !important;
  z-index: 1;
}

.news-slider .slick-list .slick-track {
  display: flex;
  gap: 15px;
}

.news-slider .slick-slide {
  /* margin-right: 20px !important; */
  height: 400px !important;
}

@media (min-width:1000px) {

  .visitor-left-content {
    background-color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    position: relative;
    width: 650px;
    left: 0;
    top: 12%;
    padding: 30px 50px;
    padding-left: 0 !important;
  }

}

.react-tel-input {
  width: 390px !important;
}

.react-tel-input .form-control {
  width: 390px !important;
  height: 45px !important;
  font-size: 18px !important;
  padding-left: 40px;
  color: #000 !important;
  border-radius: 0 !important;
}

.react-tel-input .country-list .country-name {
  color: #000 !important;
}

.search-btn:hover {
  background-color: var(--backgroundGreen);
}

@media (max-width:550px) {
  .react-tel-input .form-control {
    width: 100% !important;
    height: 35px !important;
    font-size: 14px !important;
  }
}

.dropdown-heading-value {
  color: #000 !important;
}

.dropdown-container {
  border: none !important;
}

.dropdown-content {
  color: #000 !important;
}

.sevice-underline {
  border: 2px solid var(--backgroundGreen);
}

.ad-slider .slick-dots {
  bottom: 10px;
  width: 95% !important;
}

.ad-slider .slick-dots li button:before {
  color: #ffffff !important;
  opacity: 1 !important;
}


.ad-slider .slick-dots .slick-active button:before {
  color: transparent !important;
  border: 4px solid #ffffff !important;
  border-radius: 50% !important;
  width: 13px;
  height: 12px;
  margin: 3px;
}

.ad-slider .slick-prev {
  left: 20px !important;
}

.ad-slider .slick-next {
  right: 30px !important;
}

.ad-slider .slick-prev:before,
.ad-slider .slick-next:before {
  color: #ffffff !important;
}

/* .ad-slider .slick-prev:before {
  content: '';
  background-image: url(../Images/Home/Chevron_left.png);
} */

/* @media (max-width:550px) {
.ad-slider .slick-dots {
   width: 350px !important;
}
} */


.custom-prev-arrow {
  background: url("../Images/Home/Chevron_left.png") no-repeat center;
  background-size: contain;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  left: 20px;
  filter: invert(1);
  z-index: 1;
}

.custom-next-arrow {
  background: url("../Images/Home/Chevron_right.png") no-repeat center;
  background-size: contain;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  position: absolute;
  top: 45%;
  right: 20px;
  filter: invert(1);
  z-index: 1;
}

.custom-next-arrow:hover,
.custom-prev-arrow:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width:550px) {

  .custom-next-arrow,
  .custom-prev-arrow {
    width: 25px;
    height: 25px;
  }
}

.ad-slider .overlay-content {
  position: absolute;
  top: 20%;
  font-family: playfair display, serif;
  /* left: 0; */
}

.ad-slider .overlay-content h3 {
  font-family: playfair display, serif;
}

/* Research */
.search-box {
  height: 100vh !important;
  overflow-y: auto;
}

.search-box::-webkit-scrollbar {
  display: none;
}

@media (max-width:1024px) {
  .search-box {
    height: 55vh !important;
  }
}

/* @media (min-width:1024px) {
  .result-data {
    height: 50vh !important;
    overflow-y: auto;
  }

  .result-data::-webkit-scrollbar {
    display: none;
  }
} */